// Font
$mainFont                : Helvetica, Arial, sans-serif;
$mainFontRegular         : 'Rubik-Regular';

// Size
$mainFontSize            : 14px;
$titleFontSize           : 32px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$primary-color           : #005bff;
$secondary-color         : #e63359;
$success-color           : #26de81;
$warning-color           : #E76400;
$light-colorBg           : #f5f8fb;

// Text color
$text-dark               : #001a34;
$text-mid                : #333333;
$text-mid-light          : #808d9a;
$background-light        : #ffffff;

// Background сolor
$background-darker       : #d8dce0;
$background-dark         : #ebeef0;
$background-mid          : #e8eff4;
$background-mid-light    : #f2f3f5;
$background-light        : #f7f8f9;
$background-lightest     : #ffffff;


// Neutral сolor
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border сolor
$border-base             : #d6dbe0;
